/*Color scheme: http://colorschemedesigner.com/#0041T008yw0w0*/
$primary: #333;
$secondary: #444;
$tertiary: #A2A2A2;
$emphasis: #0D1B1B;
$background: #fefefe; 
$decayFactor: 0.65;
@mixin decay($index){
    color: lighten($primary, $decayFactor*$index);
}

body{
    font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
    font-size: 1.2em;
    background: $background url(/images/fine_grain.png) repeat 50% 50%;
    text-shadow: 1px 1px 0px $background;
}

#topmenu{
    width: 100%;
    min-height: 45px;
    font-family: Georgia, Garamond, serif; 
    text-shadow: 1px 1px 0px $background;
}

#branding{
    float: left;
    padding-left: 5px;
}

#branding h1{
    padding: 0;
    margin: 0;
    /*min-height: 45px;*/
    font-size: 1.4em;
    color: $primary;
    /*padding-right: 59px;*/
    /*background: transparent url('/images/megaphone.gif') no-repeat right center;*/
}


#branding .motto{
    font-size: 1em;
    color: $emphasis;
}

#links{
    float: right;
    padding-right: 5px;
}

#links a{
    color: $tertiary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: darken($tertiary, 40%);
    }
}

#main{
    width: 900px;
    margin: 0 auto;
}

label{
    color: $secondary;
}

#prompt {
    position: relative;
    padding-bottom: 0.5em;
}

#counter{
    font-size: 1.4em;
    position: absolute;
    right: 10px;
    top: 0px;
}

#id_rant{
    /*width: 900px;*/
    width: 100%;
    border: 2px solid $primary;
    padding: 1px;
}

#controls{
    min-height: 45px;
}
/*based on http://blog.brandoncash.net/post/525423850/sexy-css-buttons*/
#send_rant{
    float: right;
    font-size: 1.5em;
    background-color: transparentize($primary, 0.3);
    border: 0;
    color: $background;
    /*Shadows*/
    -webkit-box-shadow: 0px 1px 3px transparentize($tertiary, 0.5); 
    -moz-box-shadow: 0px 1px 3px transparentize($tertiary, 0.5), 
                     inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 3px transparentize($tertiary, 0.5),
                    inset 0px 1px 0px rgba(255, 255, 255, 0.5);; 
    text-shadow: transparentize($secondary, 0.5) 0px -1px 0px;

    /*Gradient*/
    background-image: -webkit-gradient(linear,
        left top, left bottom,
            color-stop(0.0, rgba(255, 255, 255, 0.8)),
                color-stop(0.01, rgba(255, 255, 255, 0.6)),
                    color-stop(0.4, rgba(255, 255, 255, 0.3)),
                        color-stop(0.4, rgba(255, 255, 255, 0.2)),
                            color-stop(1.0, rgba(255, 255, 255, 0.0)));
    background-image: -moz-linear-gradient(top,
        rgba(255, 255, 255, 1.0) 0%,
            rgba(255, 255, 255, 0.6) 1px,
                rgba(255, 255, 255, 0.3) 40%,
                    rgba(255, 255, 255, 0.2) 40%,
                        rgba(255, 255, 255, 0.0) 100%);

    /*Transitions*/
    -webkit-transition: background 0.2s ease-in-out,
         color 0.2s ease-in-out,
        -webkit-box-shadow 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        -moz-box-shadow 0.2s ease-in-out;
     -o-transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;

    &:hover, &:focus {
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
        background-color: darken($primary, 0.2);
    }

    &:active {
        background-color: #222;
        color: #ccc;
        -webkit-transition-duration: 0.0s;
        -moz-transition-duration: 0.0s;
        -o-transition-duration: 0.0s;
    }

    &:disabled {
        background-color: $tertiary;
        color: $primary;
    }
}

#rant-container {
    padding-top: 20px;
    width: 90%;
}

#rants{
    list-style-type: none;
}

.rant {
    border-bottom: 1px inset lighten($tertiary, 0.5);
    padding-top: 5px;
    text-align: justify;
    padding-left: -20px;
    width: 100%;
    /*overflow: auto;*/
    word-wrap: break-word;
}

.about{
    text-align: justify;
    color: $secondary;
    font-size: 1em;
}
/*Ugly stuff generated by computer with for(var i=1;i<=100;i++){console.log("."+i+"th{ @include decay("+i+");}")}*/
._1th{ @include decay(1);}
._2th{ @include decay(2);}
._3th{ @include decay(3);}
._4th{ @include decay(4);}
._5th{ @include decay(5);}
._6th{ @include decay(6);}
._7th{ @include decay(7);}
._8th{ @include decay(8);}
._9th{ @include decay(9);}
._10th{ @include decay(10);}
._11th{ @include decay(11);}
._12th{ @include decay(12);}
._13th{ @include decay(13);}
._14th{ @include decay(14);}
._15th{ @include decay(15);}
._16th{ @include decay(16);}
._17th{ @include decay(17);}
._18th{ @include decay(18);}
._19th{ @include decay(19);}
._20th{ @include decay(20);}
._21th{ @include decay(21);}
._22th{ @include decay(22);}
._23th{ @include decay(23);}
._24th{ @include decay(24);}
._25th{ @include decay(25);}
._26th{ @include decay(26);}
._27th{ @include decay(27);}
._28th{ @include decay(28);}
._29th{ @include decay(29);}
._30th{ @include decay(30);}
._31th{ @include decay(31);}
._32th{ @include decay(32);}
._33th{ @include decay(33);}
._34th{ @include decay(34);}
._35th{ @include decay(35);}
._36th{ @include decay(36);}
._37th{ @include decay(37);}
._38th{ @include decay(38);}
._39th{ @include decay(39);}
._40th{ @include decay(40);}
._41th{ @include decay(41);}
._42th{ @include decay(42);}
._43th{ @include decay(43);}
._44th{ @include decay(44);}
._45th{ @include decay(45);}
._46th{ @include decay(46);}
._47th{ @include decay(47);}
._48th{ @include decay(48);}
._49th{ @include decay(49);}
._50th{ @include decay(50);}
._51th{ @include decay(51);}
._52th{ @include decay(52);}
._53th{ @include decay(53);}
._54th{ @include decay(54);}
._55th{ @include decay(55);}
._56th{ @include decay(56);}
._57th{ @include decay(57);}
._58th{ @include decay(58);}
._59th{ @include decay(59);}
._60th{ @include decay(60);}
._61th{ @include decay(61);}
._62th{ @include decay(62);}
._63th{ @include decay(63);}
._64th{ @include decay(64);}
._65th{ @include decay(65);}
._66th{ @include decay(66);}
._67th{ @include decay(67);}
._68th{ @include decay(68);}
._69th{ @include decay(69);}
._70th{ @include decay(70);}
._71th{ @include decay(71);}
._72th{ @include decay(72);}
._73th{ @include decay(73);}
._74th{ @include decay(74);}
._75th{ @include decay(75);}
._76th{ @include decay(76);}
._77th{ @include decay(77);}
._78th{ @include decay(78);}
._79th{ @include decay(79);}
._80th{ @include decay(80);}
._81th{ @include decay(81);}
._82th{ @include decay(82);}
._83th{ @include decay(83);}
._84th{ @include decay(84);}
._85th{ @include decay(85);}
._86th{ @include decay(86);}
._87th{ @include decay(87);}
._88th{ @include decay(88);}
._89th{ @include decay(89);}
._90th{ @include decay(90);}
._91th{ @include decay(91);}
._92th{ @include decay(92);}
._93th{ @include decay(93);}
._94th{ @include decay(94);}
._95th{ @include decay(95);}
._96th{ @include decay(96);}
._97th{ @include decay(97);}
._98th{ @include decay(98);}
._99th{ @include decay(99);}
._100th{ @include decay(100);}
